.tab {
    text-align: center;
    direction: ltr;
    font-family: adob arabic;
    margin-top: 30px;
}

.tab-heading {
    border-bottom: 5px solid #d04c12;
    padding-bottom: 11px;
    text-align: left;
}
.tab span {
    padding: 10px 2%;
    border: 1px solid #e67019;
    font-size: 20px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}
.active{
    background-color: rgb(190, 113, 80);
}
.tab-heading span ~ span{ opacity: 0.3}
.tab-content div {
    /*display: none;*/
}

/*.chart{*/
/*    display: inline-block;*/
/*    height: 400px !important;*/
/*    width: 30% !important;*/
/*    padding: 2px;*/
/*}*/

/*.chart1{*/
/*    float: left;*/
/*    margin-left:2%;*/
/*}*/
/*.chart2{*/
/*    float: left;*/
/*    margin-left:2%;*/
/*}*/
/*.chart3{*/
/*    float: left;*/
/*    margin-left:2%;*/
/*}*/


.chart4{
    float: left;
    margin-left:2%;
}
.chart5{
    float: left;
    margin-left:2%;
}
.chart6{
    float: left;
    margin-left:2%;
}


.filters {
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    padding: 20px;
    width: 700px;
    height: 70px;
    border-radius: 20px;
    background-color: #2fbcbc;
    box-shadow:2px 2px 5px #1c6666;
}



#search {
    position: fixed;
    bottom: 0;
    z-index: 3;
    width: 100%;
    color: #f0f0f0;
    background-color: #333;
    opacity: 0.9;
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
}

#search form {
    width: 960px;
    margin: 0 auto;
    padding: 0.5em;
}

#search form > div,
#filters form > div {
    display: inline;
}
